
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center text-danger mt-5" id="BookShelf">BookShelf</h2>
        <div class="text-center mb-5 text-dark" id="LoginTxt">Please Login</div>
        <div class="card my-5 bg-transparent">

          <form class="card-body cardbody-color p-lg-5" id="loginform">

            <div class="text-center">
              <img src="https://www.giantbomb.com/a/uploads/original/3/39164/1181291-untitled_1.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                width="200px" alt="profile">
            </div>

            <div class="mb-3">
               <label for="email-login">Email</label>
              <input class="form-input" type="text" id="email" />
            </div>
            <div class="mb-3">
              <label for="password-login">Password</label>
              <input class="form-input" type="password" id="password" />
            </div>
            <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100 bg-white">Login</button></div>
            <div id="emailHelp" class="form-text text-center mb-5 text-dark">Not
              Registered? <a href="/signup" class="text-dark fw-bold"> Create an
                Account</a>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  
<script src = "/js/login.js"></script>
